$dark-blue-1000: #001a23;
$dark-blue-950: #00384a;
$dark-blue-900: #0e3b51;
$dark-blue-800: #0f4e6a;
$dark-blue-500: #00698b;
$dark-blue-100: #0081ab;
$light-blue: #a8d2e4;
$gray: #c4c4c4;
$blue: #0078fb;
$pink: #e500f5;
