.weather-body {
  margin-top: 0.5rem;
  width: 100%;
  max-width: 40rem;
  border-radius: 1rem;
  // background: linear-gradient(92.49deg, #24516b 2.58%, #12394a 94.5%);
  background: linear-gradient(92.49deg, #1b3c4e 2.58%, #0c2a38 94.5%);
}
